.coin-details-section {
  .container {
    .coin-details {
      display: flex;
      flex-direction: column;

      .coin-head {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 30px auto;
   

        img {
          max-width: 100px;
        }
        p {
          font-size: 44px;
          color: #ddd;
          font-weight: 500;
        }
      }
      .coin-info {
        width: 60%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media(max-width:768px){
        width: 80%;

        }
        @media(max-width:400px){
          width: 90%;
  
          }
        ul {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          border-bottom: 1px solid #5f5d5f;
          list-style: none;
          color: #ddd;
          @media(max-width:400px){
           font-size: 14px;
    
            }
          li {
            &:last-child {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
