.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;

  .head {
    max-width: 900px;
    margin: 70px auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .hero-head-title {
      font-size: 50px;
    }

    .text-wrapper {
      color: #ddd;
      font-size: 15px;
    }

    .hero-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 8px;
      width: 88%;
      margin: 0 auto;
      font-size: 20px;
      gap: 5px;
      border-radius: 5px;
      @media (max-width: 410px) {
        width: 90%;

        padding: 6px 0px;

        gap: 0;
        border-radius: 5px;
      }

      input {
        flex: 1;
        font-size: 16px;
        padding-left: 10px;
        border: none;
        outline: none;
      }

      button {
        border: none;
        background-color: #7927ff;
        color: #fff;
        font-size: 16px;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
        @media (max-width: 400px) {
          font-size: 14px;
          padding: 11px 14px;
          margin-right: 10px;
        }
        @media (max-width: 350px) {
          font-size: 12px;
          padding: 10px 10px;
          margin-right: 10px;
        }
        @media (max-width: 330px) {
          font-size: 10px;
          padding: 10px 8px;
          margin-right: 10px;
        }
      }
    }
  }

  .main-content {
    width: 70%;
    margin: 0 auto;
    background-image: linear-gradient(
      rgba(84, 3, 255, 0.15),
      rgba(105, 2, 153, 0.15)
    );
    border-radius: 15px;
    margin-bottom: 50px;
    @media (max-width: 800px) {
      width: 80%;
    }
    @media (max-width: 400px) {
      width: 90%;
    }
    .coinst-table-layout {
      ul {
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
        padding: 15px 20px;
        align-items: center;
        border-bottom: 1px solid #3c3c3c;
        @media (max-width: 768px) {
          grid-template-columns: 0.5fr 3fr 1fr 1fr;
        }
        @media (max-width: 400px) {
        font-size: 12px;
        }
        li {
          color: #ddd;
          text-align: start;

          img {
            width: 30px;
            @media (max-width: 520px) {
              width: 25px;
            }
          }
        }
        .market-cap {
          @media (max-width: 768px) {
            display: none;
          }
        }
        .green {
          color: #00d515 !important;
          text-align: center;
          @media (max-width: 400px) {
            text-align: end;
            }
        }

        .red {
          color: #ff4646 !important;
          text-align: center;
          @media (max-width: 400px) {
            text-align: end;
            }
        }
      }
    }
  }
}
